body{
    font-size:xx-large;
    color: aliceblue;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    padding: 20px 20px;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    background-color:goldenrod;

}
p{
    font-size:larger;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 input{
    padding: 10px 15px;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    background-color:antiquewhite;
 }

 .foto{
    border: 20px solid goldenrod;
    border-radius: 50px;
   
 }
